@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to{
        transform: translateY(-10%);
    }
}

form{
    width: 70%;
    margin: auto;
}

p, h1, h6, hr{
    color: aliceblue;
}

a{
    text-decoration: none;
}

.sites{
    display: flex;
    justify-content: center;
    gap: 10px;
    color: aliceblue;
}

.slide{
    margin-top: 10px;
}

h3{
    margin-top:auto;

}
.star-rail-description{
    margin: 5%;
    font-size: 20px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://j.gifs.com/G65MKL.gif");
}
.contact-container{
    margin: auto;
}
.form-group{
margin: 10px;
}
.button-form {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.navbar-collapse {
    justify-content: end;
}

.banner-img {
    margin: auto;
    width: 70%;
}
.item-image{
    width: 40%;
}

.item-card-body{
    display: flex;
}

.item-description{
    margin: auto;
}

.card{
    background: transparent;
}


.card-item{
    width: 17rem;
    animation: bounce 1.3s ease-out alternate infinite;
}

.card-item:nth-child(1) {
    -webkit-animation-delay: 0.3s;
}

.card-item:nth-child(2) {
    -webkit-animation-delay: 0.6s;
}

.card-item:nth-child(3) {
    -webkit-animation-delay: 0.9s;
}

.card-item:nth-child(4) {
    -webkit-animation-delay: 1.2s;
}

.character-img{
    width: 90%; border-radius: 100%;
}

.card{
    border: none;
}

.videos {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    text-align: center;

}

iframe {
    border-radius: 5px;
}

footer {
    text-align: center;
    margin: auto 20px 20px;
}


.container-character {

    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
}

article {
    margin: auto;
    text-align: center;
    width: 70%;
}


@media only screen and (max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .col {
        flex-wrap: wrap;
        gap: 5px;
        flex-direction: row;
    }

    .character-img {
        width: 50%;
    }

    .banner-img {
        width: 100%;
    }

    .videos {
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        margin: auto;
    }
}
